[package]
name = "figma_import"
version = "0.1.0"
authors = ["DesignCompose Team <aae-design-compose@google.com>"]
description = "Figma document serialization toolkit"
edition = "2018"
build = "build.rs"

[features]
default = []
reflection = ["serde-reflection", "serde-generate", "clap"]
webserver = ["rocket"]
http_mock = ["phf"]
fetch = ["clap"]
android = ["jni"]

[dependencies]
"ureq" = "2"
"serde" = { version = "1.0", features = ["derive", "rc"] }
"serde_json" = "1.0"
"serde_bytes" = "0.11"
"bincode" = "1.3"

"resvg" = { version = "0.23", default-features = false, features = ["filter"] }
"usvg" = { version = "0.23", default-features = false, features = [] }
"tiny-skia" = "0.6"

unicode-segmentation = "1"
"image" = { version = "0.24", default-features = false, features = ["png", "jpeg"] }
"euclid" = { version = "0.20.13", default-features = false, features = ["serde"] }
"phf" = { version = "0.10.1", features = ["macros"], optional = true }

# reflection dependencies
"serde-reflection" = { version = "0.3", optional = true }
"serde-generate" = { version = "0.24", optional = true }
clap = { version = "4.0", features = ["derive"], optional = true }

# webserver dependencies
rocket = { version = "0.5.0-rc.1", features = ["json"], optional = true }

# logging
log = "0.4"

# Java interface
"jni" = { version = "0.20.0", optional = true }

[build-dependencies]
vergen = { version = "7", default-features = false, features = ["build", "git"] }
anyhow = "1.0"


[lib]
crate-type = ["rlib", "cdylib"]

[[bin]]
name = "reflection"
path = "src/bin/reflection.rs"
required-features = ["reflection"]

[[bin]]
name = "fetch"
path = "src/bin/fetch.rs"
required-features = ["fetch"]