[package]
name = "figma_import"
version = "0.1.0"
authors = ["DesignCompose Team <aae-design-compose@google.com>"]
description = "Figma document serialization toolkit"
edition = "2018"
build = "build.rs"

[features]
default = []
reflection = ["serde-reflection", "serde-generate", "clap"]
webserver = ["rocket"]
http_mock = ["phf"]
fetch = ["clap"]

[dependencies]
"ureq" = "2"
"serde" = { version = "1.0", features = ["derive", "rc"] }
"serde_json" = "1.0"
"serde_bytes" = "0.11"
"bincode" = "1.3"
"thiserror" = "1.0"

"svgtypes" = "0.11.0"

unicode-segmentation = "1"
"image" = { version = "0.24", default-features = false, features = ["png", "jpeg"] }
"euclid" = { version = "0.22.9", default-features = false, features = ["serde"] }
"phf" = { version = "0.10.1", features = ["macros"], optional = true }

# reflection dependencies
"serde-reflection" = { version = "0.3", optional = true }
"serde-generate" = { version = "0.25.1", optional = true }
clap = { version = "4.0", features = ["derive"], optional = true }

# webserver dependencies
rocket = { version = "0.5.0-rc.1", features = ["json"], optional = true }

# logging
log = "0.4"

[build-dependencies]
vergen = { version = "8.2.1", default-features = false, features = ["build", "git"] }
anyhow = "1.0"

[[bin]]
name = "reflection"
path = "src/bin/reflection.rs"
required-features = ["reflection"]

[[bin]]
name = "fetch"
path = "src/bin/fetch.rs"
required-features = ["fetch"]