# Globally ignored directories and files
# Exceptions can always be manually added

# Build/test output and itermediate dirs
build
crates/*/target
/target
captures
node_modules
# Something in android studio is generating this. Probably related to
# https://github.com/gradle/gradle/issues/23032
*/bin
# Output of npm build
/support-figma/*/code.js
/support-figma/*/dist

# Cache dirs
.gradle
.terraform
.terragrunt-cache

# User settings dirs
**/.idea/*
!.idea/ktfmt.xml
.vscode
local.properties

#Other
/crates/figma_import/features/*.json
/crates/figma_import/features/*.png
**/*.rs.bk
.DS_Store
.externalNativeBuild
.cxx
.settings
.classpath
.project
