[workspace]

members = ["crates/figma_import", "crates/jni", "crates/layout"]

[profile.release] # https://github.com/johnthagen/min-sized-rust
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'