---
layout: layouts/main.njk
templateClass: elv-docs
layoutClass: elv-layout-toc
isDocs: true
headerTag: div
---

{# {% if eleventyNavigation and eleventyNavigation.parent %}
<nav class="breadcrumb" aria-labelledby="breadcrumb">
  <h2 class="sr-only" id="breadcrumb">Breadcrumbs: </h2>
  {{ collections.sidebarNav | eleventyNavigationBreadcrumb(eleventyNavigation.parent, {includeSelf: true}) | eleventyNavigationToHtml({ listClass: 'fl fl-inline', activeListItemClass: 'breadcrumb-active' }) | safe }}
</nav>
{% endif %} #}

{% include "partials/docs-toc.njk" %}

{% if pageTitle %}<h1>{{ pageTitle | safe }}</h1>{% endif %}


{{ content | safe }}

