[versions]
accompanist = "0.28.0"
android-car-ui = "2.3.0"
android-gms-ossLicenses = "17.0.0"
android-gms-ossLicensesPlugin = "0.10.6"
android-gms-strictVersionMatcher = "1.2.4"
# @keep Issue with Rust Android Gradle plugin
android-gradlePlugin = "8.0.1"
androidx-activity-compose = "1.6.1"
androidx-appcompat = "1.6.1"
androidx-compose-bom = "2023.01.00"
# @keep Non-`dependency` constant
androidx-compose-compiler = "1.4.4"
androidx-compose-foundation = "1.4.2"
androidx-compose-runtime = "1.4.2"
androidx-compose-ui = "1.4.2"
androidx-constraintlayout = "2.1.4"
androidx-legacy-support-v4 = "1.0.0"
androidx-lifecycle = "2.6.0"
androidx-media = "1.6.0"
androidx-test-espresso = "3.5.1"
androidx-test-ext-junit = "1.1.5"
# @keep Non-`dependency` constant
appMinSdk = "30"
appauth = "0.11.1"
# @keep Non-`dependency` constant
compileSdk = "33"
datastoreCore = "1.0.0"
datastorePreferences = "1.0.0"
designcompose = "0.19.0-alpha02"
dokka = "1.8.10"
google-cloud-sql = "1.4.4"
google-crypto-tink = "1.7.0"
google-httpClient = "1.42.3"
grpc = "1.52.1"
gson = "2.10.1"
guavaAndroid = "31.1-android"
guavaJre = "31.1-jre"
hikariCP = "5.0.1"
javax-annotation = "1.3.2"
junit = "4.13.2"
# @pin - Compose Compiler doesn't support the latest Kotlin version yet
kotlin = "1.8.10"
kotlinxCoroutinesTest = "1.6.4"
# @pin - KSP version depends on  Kotlin version
ksp = "1.8.10-1.0.9"
ktfmt = "0.12.0"
material = "1.8.0"
# @keep Non-`dependency` constant
minSdk = "26"
mockito = "5.1.1"
mockkAgent = "1.13.4"
mockkAndroid = "1.13.4"
mysql = "8.0.32"
protobuf = "3.21.12"
protobuf-javalite = "3.0.0"
# @keep Versions 0.9+ have breakages: https://github.com/google/protobuf-gradle-plugin/issues/656 https://github.com/google/protobuf-gradle-plugin/issues/643
protobufGradlePlugin = "0.8.19"
rules = "1.5.0"
rustAndroidGradle = "0.9.3"
# @keep Non-`dependency` constant
targetSdk = "33"
versionCataLogUpdatePlugin = "0.8.0"
versionsPlugin = "0.46.0"

[libraries]
accompanist-flowlayout = { module = "com.google.accompanist:accompanist-flowlayout", version.ref = "accompanist" }
android-car-ui = { module = "com.android.car.ui:car-ui-lib", version.ref = "android-car-ui" }
android-gms-ossLicenses = { module = "com.google.android.gms:play-services-oss-licenses", version.ref = "android-gms-ossLicenses" }
android-gms-ossLicensesPlugin = { module = "com.google.android.gms:oss-licenses-plugin", version.ref = "android-gms-ossLicensesPlugin" }
android-gms-strictVersionMatcher = { module = "com.google.android.gms:strict-version-matcher-plugin", version.ref = "android-gms-strictVersionMatcher" }
android-gradlePlugin = { module = "com.android.tools.build:gradle", version.ref = "android-gradlePlugin" }
androidx-activity-compose = { module = "androidx.activity:activity-compose", version.ref = "androidx-activity-compose" }
androidx-appcompat = { module = "androidx.appcompat:appcompat", version.ref = "androidx-appcompat" }
androidx-compose-bom = { module = "androidx.compose:compose-bom", version.ref = "androidx-compose-bom" }
androidx-compose-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "androidx-compose-foundation" }
androidx-compose-foundation-layout = { module = "androidx.compose.foundation:foundation-layout", version.ref = "androidx-compose-foundation" }
androidx-compose-material = { module = "androidx.compose.material:material" }
androidx-compose-runtime = { module = "androidx.compose.runtime:runtime", version.ref = "androidx-compose-runtime" }
androidx-compose-runtime-livedata = { module = "androidx.compose.runtime:runtime-livedata", version.ref = "androidx-compose-runtime" }
androidx-compose-ui = { module = "androidx.compose.ui:ui", version.ref = "androidx-compose-ui" }
androidx-compose-ui-test-junit4 = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "androidx-compose-ui" }
androidx-compose-ui-test-manifest = { module = "androidx.compose.ui:ui-test-manifest", version.ref = "androidx-compose-ui" }
androidx-compose-ui-text = { module = "androidx.compose.ui:ui-text", version.ref = "androidx-compose-ui" }
androidx-compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "androidx-compose-ui" }
androidx-compose-ui-tooling-preview = { module = "androidx.compose.ui:ui-tooling-preview", version.ref = "androidx-compose-ui" }
androidx-constraintlayout = { module = "androidx.constraintlayout:constraintlayout", version.ref = "androidx-constraintlayout" }
androidx-datastore-core = { module = "androidx.datastore:datastore-core", version.ref = "datastoreCore" }
androidx-datastore-preferences = { module = "androidx.datastore:datastore-preferences", version.ref = "datastorePreferences" }
androidx-legacy-support-v4 = { module = "androidx.legacy:legacy-support-v4", version.ref = "androidx-legacy-support-v4" }
androidx-lifecycle-livedata-core = { module = "androidx.lifecycle:lifecycle-livedata-core-ktx", version.ref = "androidx-lifecycle" }
androidx-lifecycle-livedata-ktx = { module = "androidx.lifecycle:lifecycle-livedata-ktx", version.ref = "androidx-lifecycle" }
androidx-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "androidx-lifecycle" }
androidx-lifecycle-runtime-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "androidx-lifecycle" }
androidx-media = { module = "androidx.media:media", version.ref = "androidx-media" }
androidx-rules = { module = "androidx.test:rules", version.ref = "rules" }
androidx-test-espresso-core = { module = "androidx.test.espresso:espresso-core", version.ref = "androidx-test-espresso" }
androidx-test-ext-junit = { module = "androidx.test.ext:junit", version.ref = "androidx-test-ext-junit" }
appauth = { module = "net.openid:appauth", version.ref = "appauth" }
designcompose = { module = "com.android.designcompose:designcompose", version.ref = "designcompose" }
designcompose-codegen = { module = "com.android.designcompose:codegen", version.ref = "designcompose" }
dokka-gradlePlugin = { module = "org.jetbrains.dokka:dokka-gradle-plugin", version.ref = "dokka" }
google-cloud-sql-mysqlSocketFactoryConnectorJ8 = { module = "com.google.cloud.sql:mysql-socket-factory-connector-j-8", version.ref = "google-cloud-sql" }
google-crypto-tink-gcpkms = { module = "com.google.crypto.tink:tink-gcpkms", version.ref = "google-crypto-tink" }
google-httpClient-Jackson2 = { module = "com.google.http-client:google-http-client-jackson2", version.ref = "google-httpClient" }
grpc-auth = { module = "io.grpc:grpc-auth", version.ref = "grpc" }
grpc-nettyShaded = { module = "io.grpc:grpc-netty-shaded", version.ref = "grpc" }
grpc-okhttp = { module = "io.grpc:grpc-okhttp", version.ref = "grpc" }
grpc-protobufLite = { module = "io.grpc:grpc-protobuf-lite", version.ref = "grpc" }
grpc-protocGenJava = { module = "io.grpc:protoc-gen-grpc-java", version.ref = "grpc" }
grpc-stub = { module = "io.grpc:grpc-stub", version.ref = "grpc" }
gson = { module = "com.google.code.gson:gson", version.ref = "gson" }
guavaAndroid = { module = "com.google.guava:guava", version.ref = "guavaAndroid" }
guavaJre = { module = "com.google.guava:guava", version.ref = "guavaJre" }
javax-annotationApi = { module = "javax.annotation:javax.annotation-api", version.ref = "javax-annotation" }
junit = { module = "junit:junit", version.ref = "junit" }
kotlin-gradlePlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8", version.ref = "kotlin" }
kotlinx-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "kotlinxCoroutinesTest" }
ksp = { module = "com.google.devtools.ksp:symbol-processing-api", version.ref = "ksp" }
material = { module = "com.google.android.material:material", version.ref = "material" }
mockito-core = { module = "org.mockito:mockito-core", version.ref = "mockito" }
mockk-agent = { module = "io.mockk:mockk-agent", version.ref = "mockkAgent" }
mockk-android = { module = "io.mockk:mockk-android", version.ref = "mockkAndroid" }
mysql-connectorJava = { module = "mysql:mysql-connector-java", version.ref = "mysql" }
protobuf-protoc = { module = "com.google.protobuf:protoc", version.ref = "protobuf" }
protobuf-protocGenJavalite = { module = "com.google.protobuf:protoc-gen-javalite", version.ref = "protobuf-javalite" }
zaxxer-hikariCP = { module = "com.zaxxer:HikariCP", version.ref = "hikariCP" }

[plugins]
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
ktfmt = { id = "com.ncorti.ktfmt.gradle", version.ref = "ktfmt" }
rustAndroidGradle = { id = "org.mozilla.rust-android-gradle.rust-android", version.ref = "rustAndroidGradle" }
strictVersionMatcher = { id = "com.google.android.gms.strict-version-matcher-plugin", version.ref = "android-gms-strictVersionMatcher" }
versionCatalogUpdate = { id = "nl.littlerobots.version-catalog-update", version.ref = "versionCataLogUpdatePlugin" }
versions = { id = "com.github.ben-manes.versions", version.ref = "versionsPlugin" }
