[package]
name = "dc_jni"
version = "0.1.0"
authors = ["DesignCompose Team <aae-design-compose@google.com>"]
description = "Figma jni library for Android"
license = "Apache-2.0"
edition = "2018"
# https://blog.rust-lang.org/2023/01/09/android-ndk-update-r25.html
rust-version = "1.68"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
figma_import = { path = "../figma_import" }
layout = { path = "../layout" }
log.workspace = true
jni.workspace = true
android_logger.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_bytes.workspace = true
bincode.workspace = true
ureq.workspace = true
lazy_static.workspace = true
prost.workspace = true
thiserror.workspace = true
bytes.workspace = true
