<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright 2023 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.designcompose.reference.homecompose">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.car.permission.ACCESS_CAR_PROJECTION_STATUS" />
  <!-- System permission to host maps activity -->
  <uses-permission
      android:name="android.permission.ACTIVITY_EMBEDDING"
      tools:ignore="ProtectedPermissions" />
  <!-- System permission to send events to hosted maps activity -->
  <uses-permission
      android:name="android.permission.INJECT_EVENTS"
      tools:ignore="ProtectedPermissions" />
  <!-- System permission to use internal system windows -->
  <uses-permission
      android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
      tools:ignore="ProtectedPermissions" />
  <!-- System permissions to bring hosted maps activity to front on main display -->
  <uses-permission
      android:name="android.permission.MANAGE_ACTIVITY_STACKS"
      tools:ignore="ProtectedPermissions" />
  <!-- System permission to query users on device -->
  <uses-permission
      android:name="android.permission.MANAGE_USERS"
      tools:ignore="ProtectedPermissions" />
  <!-- System permission to control media playback of the active session -->
  <uses-permission
      android:name="android.permission.MEDIA_CONTENT_CONTROL"
      tools:ignore="ProtectedPermissions" />
  <!-- System permission to get app usage data -->
  <uses-permission
      android:name="android.permission.PACKAGE_USAGE_STATS"
      tools:ignore="ProtectedPermissions" />
  <!-- System permission to query all installed packages -->
  <uses-permission
      android:name="android.permission.QUERY_ALL_PACKAGES"
      tools:ignore="QueryAllPackagesPermission" />
  <uses-permission android:name="android.permission.REORDER_TASKS" />
  <!-- Immersive Mode workaround for OEM builds that don't honor platform API request -->
  <uses-permission
      android:name="android.permission.WRITE_SECURE_SETTINGS"
      tools:ignore="ProtectedPermissions" />
  <uses-sdk android:minSdkVersion="30" />

  <!-- EV readouts -->
  <uses-feature
      android:name="android.hardware.type.automotive"
      android:required="true" />

  <uses-permission android:name="android.car.permission.CAR_INFO" />
  <uses-permission android:name="android.car.permission.CAR_ENERGY" />
  <uses-permission android:name="android.car.permission.CAR_MILEAGE" />

  <!-- Google Assistant -->
  <uses-permission android:name="com.google.assistant.suggestion.GET_SUGGESTIONS" />
  <uses-permission android:name="com.google.android.carassistant.ASSISTANT_SUGGESTIONS" />

  <!-- To connect to media browser services in other apps, media browser clients
  that target Android 11 need to add the following in their manifest -->
  <queries>
    <intent>
      <action android:name="android.media.browse.MediaBrowserService" />
    </intent>
  </queries>

  <application
      android:taskAffinity="${applicationId}"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.AppCompat.NoActionBar"
      android:usesCleartextTraffic="true">
    <activity
        android:name=".MainActivity"
        android:launchMode="singleTask"
        android:clearTaskOnLaunch="true"
        android:exported="true"
        android:immersive="true">
      <meta-data
          android:name="distractionOptimized"
          android:value="true" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.HOME" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>

</manifest>
