<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:taskAffinity="${applicationId}"
        android:theme="@style/Theme.Validation"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".battleship.BattleshipActivity"
            android:exported="false"
            android:label="@string/title_activity_battleship"
            android:theme="@style/Theme.Validation" />

        <profileable android:shell="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Validation.NoActionBar">
            <layout
                android:defaultWidth="1080dp"
                android:defaultHeight="1920dp"
                android:gravity="top|start"
                android:minWidth="600dp"
                android:minHeight="720dp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LayoutTest"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Validation.NoActionBar">
            <layout
                android:defaultWidth="1080dp"
                android:defaultHeight="1920dp"
                android:gravity="top|start"
                android:minWidth="600dp"
                android:minHeight="720dp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>