
name: SDK Gradle Build

# The on: and concurrencency: blocks should be the same for all core workflows
# Triggers nightly, on merges or pushes to main and stable and on pull requests.
on:
  push:
    branches:
    - main
    - 'stable/**'
  pull_request:
  merge_group:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions: 
  contents: read

jobs:
  ############## Lints
  lint-kotlin:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.2

      - name: Set up Java
        uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3.12.0
        with:
          distribution: "temurin"
          java-version: "17"

      - uses: gradle/gradle-build-action@a4cf152f482c7ca97ef56ead29bf08bcd953284c # v2.7.0
        with:
          cache-read-only: true
          arguments: ktfmtCheck ktfmtCheckBuildScripts --no-configuration-cache

  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
        shell: bash
      - name: Check workflow files
        run: ${{ steps.get_actionlint.outputs.executable }} -color
        shell: bash

  lint-rust:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - run: rustup toolchain install stable --profile minimal
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.2
      - name: Rust lint
        run: cargo-fmt --all --check

  validate-dependabot:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: marocchino/validate-dependabot@30653575251e0731f7c99bff8773e3988361597e # v2.1.0

############## Gradle
  sdk-build:
    runs-on: "ubuntu-latest"
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.2

      - name: Set up Java
        uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3.12.0
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set up Gradle
        uses: gradle/gradle-build-action@a4cf152f482c7ca97ef56ead29bf08bcd953284c # v2.4.2
        with:
          # Upload in the dependency-review workflow
          dependency-graph: generate
          gradle-home-cache-cleanup: true

      - name: Update Rust
        run: rustup toolchain install stable --profile minimal

      - name: Install Rust toolchains
        run: ./install-rust-toolchains.sh

      - name: Set up Rust Cache
        uses: Swatinem/rust-cache@578b235f6e5f613f7727f1c17bd3305b4d4d4e1f
        with:
          workspaces: ". -> designcompose/build/intermediates/cargoTarget"
          shared-key: "gradle-rust"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Full Gradle Test and publish
        uses: gradle/gradle-build-action@a4cf152f482c7ca97ef56ead29bf08bcd953284c # v2.7.0
        with:
          arguments: check build publishAllPublicationsToLocalDirRepository 
      
      - name: Upload maven repo
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: designcompose_m2repo
          path: build/designcompose_m2repo/

########### Tutorial app
  tutorial-app:
    runs-on: ubuntu-latest
    needs: sdk-build
    steps:       
    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
      with:
        egress-policy: audit

    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

    - name: Set up Java
      uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3.12.0
      with:
        distribution: "temurin"
        java-version: "17"

    - name: Set up Gradle
      uses: gradle/gradle-build-action@a4cf152f482c7ca97ef56ead29bf08bcd953284c # v2.4.2
      with:
        dependency-graph: generate
        gradle-home-cache-cleanup: true

    - uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
      with:
        name: designcompose_m2repo
        path: designcompose_m2repo
    
    - name: "Set environment variables"
      run: |
        echo "ORG_GRADLE_PROJECT_DesignComposeMavenRepo=$PWD/designcompose_m2repo" >> "$GITHUB_ENV"

    - name: Check Tutorial App
      uses: gradle/gradle-build-action@a4cf152f482c7ca97ef56ead29bf08bcd953284c # v2.7.0
      with:
        build-root-directory: reference-apps/tutorial
        arguments: |
          --init-script ../local-design-compose-repo.init.gradle.kts
          build


######### Unbundled apps     
  aaos-unbundled:
    runs-on: ubuntu-latest
    needs: sdk-build
    steps:       
    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
      with:
        egress-policy: audit

    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

    - name: Set up Java
      uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3.12.0
      with:
        distribution: "temurin"
        java-version: "17"

    - name: Set up Gradle
      uses: gradle/gradle-build-action@a4cf152f482c7ca97ef56ead29bf08bcd953284c # v2.4.2
      with:
        dependency-graph: generate
        gradle-home-cache-cleanup: true

    - uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
      with:
        name: designcompose_m2repo
        path: designcompose_m2repo

    - run: sudo apt-get install repo

    - name: "Set environment variables"
      run: |
        echo "ORG_GRADLE_PROJECT_DesignComposeMavenRepo=$GITHUB_WORKSPACE/designcompose_m2repo" >> "$GITHUB_ENV"
        echo "ORG_GRADLE_PROJECT_unbundledAAOSDir=$GITHUB_WORKSPACE/undbundled-aaos" >> "$GITHUB_ENV"

    - name: Check out the Unbundled AAOS Repo
      run: |
        HOST=https://android.googlesource.com/platform/manifest        
        BRANCH=ub-automotive-master-20230622
        mkdir "$ORG_GRADLE_PROJECT_unbundledAAOSDir"
        cd "$ORG_GRADLE_PROJECT_unbundledAAOSDir"
        repo init -u $HOST -b $BRANCH -g pdk,pdk-fs --depth=1
        repo sync -cq -j4

    - name: Check MediaCompose
      uses: gradle/gradle-build-action@a4cf152f482c7ca97ef56ead29bf08bcd953284c # v2.7.0
      with:
        build-root-directory: reference-apps/aaos-unbundled
        arguments: |
          check 
      
############# Rust

  rust-test:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - run: rustup toolchain install stable --profile minimal
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.2
      - uses: Swatinem/rust-cache@578b235f6e5f613f7727f1c17bd3305b4d4d4e1f
        with: 
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Build all
        run: cargo build --all-targets --all-features
      - name: Test all
        run: cargo test --all-targets --all-features

############ Figma resources

  figma-resources:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.2

      - uses: ./.github/actions/build-figma-resource
        with:
            resource: auto-content-preview-widget

      - uses: ./.github/actions/build-figma-resource
        with:
            resource: extended-layout-plugin



