name: Presubmit

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint-kotlin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"

      - uses: gradle/gradle-build-action@v2
        with:
          arguments: ktfmtCheck

  lint-rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Rust lint
        run: cargo-fmt --all --check

  rust-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
      - name: Build all
        run: cargo build --all-targets --all-features
      - name: Test all
        run: cargo test --all-targets --all-features

  sdk-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"
      - uses: Swatinem/rust-cache@v2

      - name: Install Rust toolchains
        run: bash install-rust-toolchains.sh

      - name: Run local tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test

      - name: Build debug
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleDebug

      - name: Build release
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleRelease

      - name: Final check
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check

  build-maven-repo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"
      - uses: Swatinem/rust-cache@v2

      - name: Install Rust toolchains
        run: bash install-rust-toolchains.sh

      - name: Build Maven repo
        uses: gradle/gradle-build-action@v2
        with:
          arguments: publishAllPublicationsToLocalDirRepository

      - name: Zip repo
        working-directory: build
        run: zip -q -r designcompose_m2repo.zip designcompose_m2repo/

      - name: Upload zipped repo
        uses: actions/upload-artifact@v3
        with:
          name: designcompose-m2-repo-zip
          path: build/designcompose_m2repo.zip

  figma-resources:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5
      - uses: bahmutov/npm-install@v1
        with:
          working-directory: |
            support-figma/extended-layout-plugin
            support-figma/auto-content-preview-widget

      - name: Build Plugin
        working-directory: support-figma/extended-layout-plugin
        run: npm run build
      
      - name: Package Plugin
        working-directory: support-figma
        run: |
          zip -r extended-layout-plugin.zip \
            extended-layout-plugin/manifest.json \
            extended-layout-plugin/ui.html \
            extended-layout-plugin/code.js

      - uses: actions/upload-artifact@v3
        with:
          name: figma-plugin-zip
          path: support-figma/extended-layout-plugin.zip


      - name: Build Widget
        working-directory: support-figma/auto-content-preview-widget
        run: npm run build

      - name: Package Widget
        working-directory: support-figma
        run: |
          zip -r auto-content-preview-widget.zip \
            auto-content-preview-widget/manifest.json \
            auto-content-preview-widget/ui.html \
            auto-content-preview-widget/code.js

      - uses: actions/upload-artifact@v3
        with:
          name: figma-widget-zip
          path: support-figma/auto-content-preview-widget.zip